<div id="aColumn">
	<div id="ledes"><div class="slides_container">
	<% @featured_articles.each do |article| %>
		<article class="lede">
			<header>
				<h1><%= link_to article, article_path(article) %></h1>
				<span class="byline">
					By
					<%= article.authors.map{|a|
							content_tag :span, a, :class=>'author'
						}.to_sentence.html_safe %>
					<span class="timestamp">
						<%= time_ago_in_words article.published_at %> ago
					</span>
				</span>
			</header>
			<% if article.images.any? %>
				<div class="ledephoto">
					<%= link_to(
						image_tag(
							article.images.first.file.url(:featured),
							:height => 200), 
					    article_path(article)) %>
					<div class="credit">
						<%= article.images.first.credit %>
					</div>
					<!--<div class="caption">
						<%= article.images.first.caption %>
					</div>-->
				</div>
			<% end %>
			<p class="summary"><%= article.teaser(300) %></p>
			<span class="actions">
				<%= link_to "Read more", article_path(article) %>
			</span>
			<div style="clear: both;"></div>
		</article>
	<% end %>
	</div>
	<ul class="pagination">
		<% @featured_articles.each do |article| %>
			<li>
				<%= link_to article, "#" %>
			</li>
		<% end %>
	</ul>
	</div>
	<div class="doubleRuleDivide">&nbsp;</div>
	<% @articles.each do |article| %>
		<article class="teaser">
			<% if article.images.any? %>
				<div class="thumbnail">
					<%= link_to(
						image_tag(
							article.images.first.file.url(:thumb),
							:width => 75,
							:height => 75), 
					    article_path(article)) %>
				</div>
			<% end %>
			<header>
				<h1><%= link_to article, article_path(article) %></h1>
				<span class="byline">
					By
					<%= article.authors.map{|a|
						content_tag :span, a, :class=>'author'
					}.to_sentence.html_safe %>
					<span class="timestamp">
						<%= time_ago_in_words article.published_at %> ago
					</span>
				</span>
			</header>
			<p class="summary"><%= article.teaser %></p>
		</article>
	<% end %>
</div>
<%= render "most_popular_and_facebook" %>
<script>
  $(document).ready (function(){
    $("#ledes").slides({
		preload: true,
		generatePagination: false,
		hoverPause: true,
		play: 5000,
		pause: 5000,
		slideSpeed: 1000,
		fadeEasing: "easeInOutQuad",
		effect: "fade"
	});
	$(".pagination").show();
  });
</script>