<% content_for :htmlhead do stylesheet_link_tag('workflow/articles') end %>
<% content_for :header do %>
  <h1>Articles</h1>
  
  <span class="actions">
    <%= link_to 'New Article', new_workflow_issue_article_path(@issue), :class => "positive button" %>
  </span>
<% end %>

<% @articles_by_section.each do |section, articles| %>
  <h1><%= section.name %></h1>
  <%= render :partial => "articles", :locals => {:articles => articles} %>
<% end %>