<div id="cColumn">
	<section class="columnGroup mostPopular">
	 <div id="popularthreads" class="dsq-widget"><h1 class="dsq-widget-title">Most Popular</h1><script type="text/javascript" src="http://pomonatsl.disqus.com/popular_threads_widget.js?num_items=5"></script></div><a href="http://disqus.com/">Powered by Disqus</a>
	</section>
	<!--<section class="columnGroup">
		<iframe src="http://www.facebook.com/plugins/likebox.php?id=26158013294&amp;width=330&amp;connections=10&amp;stream=false&amp;header=false&amp;height=287&amp;border=none" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 330px; height:287px;" allowtransparency="false"></iframe>
	</section>-->
	<br>
	<section class="columnGroup">
	 <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/TSLnews" data-widget-id="303373134948614144">Tweets by @TSLnews</a>
	 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</section>
</div>
