<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<h1>Editing article</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @article %> |
	<%= link_to 'Back', articles_path %>
</body>
</html>