<%= content_for :head do %>
<title>The Student Life</title>
<% end %>
<%= content_for :body_id do "index" end %>

<div id="aColumn">
	<div id="ledes"><div class="slides_container">
	<% @featured_articles.each do |article| %>
		<article class="lede">
			<header>
				<h1>
					<%= link_to article, article_path(article) %>
				</h1>
				<span class="byline">
					<div class="section_name" style="padding-left: 0"><%= article.section %></div>
					By
					<%= article.authors.map{|a|
							content_tag :span, a, :class=>'author'
						}.to_sentence.html_safe %>
					<span class="timestamp">
						<%= article.published_at %>
					</span>
				</span>
			</header>
			<div class="ledevideo">
				<%= youtube_embed article.video_youtube_id, :width => 600, :height => 350 %>
			</div>
			<% if article.images.any? %>
				<div class="ledephoto">
					<%= link_to(
						image_tag(
							article.images.first.file.url(:featured),
							:height => 200), 
					    article_path(article)) %>
					<div class="credit">
						<%= article.images.first.credit %>
					</div>
					<!--<div class="caption">
						<%= article.images.first.caption %>
					</div>-->
				</div>
			<% end %>
			<p class="summary"><%= article.teaser %></p>
			<span class="actions">
				<%= link_to "Read more", article_path(article) %>
			</span>
		</article>
	<% end %>
	</div>
	<ul class="pagination">
		<% @featured_articles.each do |article| %>
			<li>
				<%= link_to article, "#" %>
			</li>
		<% end %>
	</ul>
	</div>
	<div class="doubleRuleDivide">&nbsp;</div>
	<% @articles.each do |article| %>
		<article class="teaser">
			<% if article.images.any? %>
				<div class="thumbnail">
					<%= link_to(
						image_tag(
							article.images.first.file.url(:thumb),
							:width => 75,
							:height => 75), 
					    article_path(article)) %>
				</div>
			<% end %>
			<header>
				<h1>
					<%= link_to article, article_path(article) %>
					<span class="section_name"><%= article.section %></span>
				</h1>
				<span class="byline">
					By
					<%= article.authors.map{|a|
						content_tag :span, a, :class=>'author'
					}.to_sentence.html_safe %>
					<span class="timestamp">
						<%= article.published_at %>
					</span>
				</span>
			</header>
			<p class="summary"><%= article.teaser %> (<%= link_to "read more", article_path(article) %>)</p>
		</article>
	<% end %>
</div>
<%= render "most_popular_and_facebook" %>
