<div id="aColumn">
	<div id="ledes"><div class="slides_container">
	<% @headlines.each do |headline| %>
		<article class="lede">
			<header>
				<h1><%= link_to headline.title, article_path(headline.article) %></h1>
				<span class="byline">
					By
					<%= headline.article.authors.map{|a|
							content_tag :span, a, :class=>'author'
						}.to_sentence.html_safe %>
					<span class="timestamp">
						<%= time_ago_in_words headline.published_online_at %> ago
					</span>
				</span>
			</header>
			<% if headline.article.images.any? %>
				<div class="ledephoto">
					<%= link_to(
						image_tag(
							headline.article.images.first.file.url,
							:height => 200), 
					    article_path(headline.article)) %>
					<div class="credit">
						<%= headline.article.images.first.credit %>
					</div>
					<!--<div class="caption">
						<%= headline.article.images.first.caption %>
					</div>-->
				</div>
			<% end %>
			<p class="summary"><%= headline.long_summary %></p>
			<span class="actions">
				<%= link_to "Read more", article_path(headline.article) %>
			</span>
			<div style="clear: both;"></div>
		</article>
	<% end %>
	</div>
	<ul class="pagination">
		<% @headlines.each_with_index do |headline, i| %>
			<li>
				<%= link_to headline.title, "##{i}" %>
			</li>
		<% end %>
	</ul>
	</div>
	<div class="doubleRuleDivide">&nbsp;</div>
	<% @revisions.each do |revision| %>
		<article class="teaser">
			<% if revision.article.images.any? %>
				<div class="thumbnail">
					<%= link_to(
						image_tag(
							revision.article.images.first.file.url(:thumb),
							:width => 75,
							:height => 75), 
					    article_path(revision.article)) %>
				</div>
			<% end %>
			<header>
				<h1><%= link_to revision.title, article_path(revision.article) %></h1>
				<span class="byline">
					By
					<%= revision.article.authors.map{|a|
						content_tag :span, a, :class=>'author'
					}.to_sentence.html_safe %>
					<span class="timestamp">
						<%= time_ago_in_words revision.published_online_at %> ago
					</span>
				</span>
			</header>
			<p class="summary"><%= revision.summary %></p>
		</article>
	<% end %>
</div>
<%= render "most_popular_and_facebook" %>
<script>
  $(document).ready (function(){
    $("#ledes").slides({
		preload: true,
		generatePagination: false,
		hoverPause: true,
		play: 5000,
		pause: 5000,
		slideSpeed: 1000,
		fadeEasing: "easeInOutQuad",
		effect: "fade"
	});
	$(".pagination").show();
  });
</script>