<% content_for :header do %>
  <h1>Authors</h1>
  <span class="actions"><%= link_to 'New Author', new_workflow_author_path, :class => :button %></span>
<% end %>

<% @authors.each do |author| %>
  <article>
    <div class="left">
    </div>
    <div class="mid">
      <header>
        <h1><%= author %></h1>
        <div class="clear: both;"></div>
      </header>
    </div>
    <div class="right">
      <%= link_to 'Edit', edit_workflow_author_path(author) %>
    </div>
    <div style="clear: both"></div>
  </article>
<% end %>