<% content_for :header do %>
  <h1>Issues</h1>
  <span class="actions">
    <%= link_to 'New Issue', new_workflow_issue_path, :class => :button %>
  </span>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr>
    <td><%= link_to issue.name, [:workflow, issue] %></td>
    <% if current_user.can_edit_issues? %>
      <td><%= link_to 'Edit', edit_workflow_issue_path(issue) %></td>
      <td><%= link_to 'Destroy', [:workflow, issue], :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>