<html>
	<head>
		<style type="text/css">
			p:before {
				content: "» ";
				color: #999;
			}
			
			.bold {
				font-weight: bold;
			}
			
			.italic {
				font-style: italic;
			}
		</style>
	</head>
  <body>
    <% if @revision and not @revision.body.blank? %>
      <%= @revision.body.html_safe %>
    <% else %>
      <p><span><br/></span></p>
    <% end %>
  </body>
</html>