<header>
	<h1>Adding editor</h1>
	<div style="clear: both"></div>
</header>

<div id="content">
<%= form_tag(workflow_section_editors_path(@section)) do %>
	<% if @section.errors.any? %>
		<div id="errorExplanation">
			<h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>
			<ul>
				<% @section.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= label_tag :editor_id %>
		<%= select_tag :editor_id, options_from_collection_for_select(@editors, :id, :to_s) %>
	</div>
	<div class="actions">
		<%= submit_tag "Add editor" %>
	</div>
<% end %>
</div>