<section id="aColumn" class="section">
  <header>
    <h1>Staff</h1>
  </header>  

  <p>Editor-in-Chief: John Thomason<br/>
  Managing Editors: Nathan Schauer & Jordan Cohen <br/>
  Senior Staff Manager: Justine Selsing <br/>
  Senior Design Editor: Toby Hollis <br/>
  Senior Copy Editor: Janet Ma <br/>
  Senior Development Editor: Katie Gosewehr <br/>
  Business Manager: Tera Jones </p>

  <p>News Editors: Ian Gallogly , Jeff Zalesin & Elizabeth Yaffe <br/>
  Life and Style Editors: Sophie Forman & Nick Lawson <br/>
  Sports Editors: Stefan Castellanos , Nick Hubbard & Jesse Caro <br/>
  Opinions Editors: John Holler & Liz Crumpacker <br/>
  Photo Editor: Andrew Hong <br/>
  Copy Editors: Jayci Spivey , Jesse Stoneman , Loren Hinton, Hannah Shoenhard<br/>
  Web Editor: Sean Laguna <br/>
  Web Developement: Alexander Rudy </p>

  <p>Distribution Manager: Ian Gallogly</p>

</section>
<%= render "articles/most_popular_and_facebook" %>