<% content_for :header do %>
  <h1>Welcome to the new online workflow!</h1>
<% end %>

<% content_for :side do %>
  <header>
    <h1>Changelog</h1>
  </header>
  <div class="content" style="color: white;">
    <% changes = [
      ['Update', '(Mar 29) Removed \'Publish Article in Print\''],
      ['Bug fix', '(Mar 29) Looks good in Internet Explorer'],
      ['Update', '(Mar 28) New article editor'],
      ['Tech note', '(Mar 26) Faster WebDAV server']
    ] %>
    <ol style="list-style: disc; margin-left: 0; padding-left: 0">
      <% changes.each do |change| %>
        <li style="margin-bottom: 5px"><strong><%= change[0] %></strong> <%= change[1] %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<div style="font-family: Georgia; font-size: 16px; line-height: 24px">

<h2 style="font-size: 24px">Problems?</h2>

<p>This is still very much a <strong>work-in-progress</strong>. You can email me at <a href="mailto:michael.maltese@pomona.edu">michael.maltese@pomona.edu</a>, call me at <strong>209 352 5828</strong>, or come find me, and <strong>I'll fix the problem</strong>.

<p>In the same spirit, if you come across <strong>anything you don't like</strong>, or there's something not here that you want, <strong>talk to me</strong> and I'll see what I can do.</p>

<h2 style="font-size:24px">Changing your password</h2>

<p>If this is the <strong>first time you're logging in</strong>, your password probably looks something like this: <strong>A7jsT63</strong>. If you can remember that, great!</p>

<p>To change your password to something more memorable, click the link labeled <strong>My account</strong> at the very top-right of this page. You'll be able to enter a new password there.</p>

<h2 style="font-size: 24px">Working with articles</h2>

<p>You can find all articles under the <strong>Articles</strong> tab, near the top of the page. Articles are organized underneath <strong>Issues</strong>, so pick the issue you're currently working on.</p>

<p>Once you click on an issue, you'll see all of the articles currently being worked on. You can see the article <strong>name</strong>, <strong>publication status</strong>, <strong>editorial reviews</strong>, and proposed <strong>titles</strong>. You can click on an article's name to view more information and interact with the workflow.</p>

<h2 style="font-size: 24px">InCopy</h2>

<p>Once you publish an article, you can access its <strong>InCopy document</strong>, <strong>image file</strong>, and <strong>other data</strong> (headline, authors, caption, image credit) on the builtin WebDAV server.</p>

<p>If you're on a Mac, open <strong>Finder</strong> and click <strong>Go->Connect to Server...</strong>, or press <strong>Apple</strong>+<strong>K</strong>, then enter <strong>http://tsl.pomona.edu/webdav</strong> as the server address. If it asks you to log in, any username/password will work.</p

<p>If you're on a PC and figure out how to do this, it would be awesome if you would let me know how, thanks!</p>

</div>
