<% content_for :header do %>
  <h1>Welcome to Workflow</h1>
<% end %>

<% content_for :side do %>
  &nbsp;
<% end %>

<div style="font-family: Georgia; font-size: 16px; line-height: 24px">

<h2 style="font-size:24px">Important Announcement Feb. 26, 2014</h2>

	<p>When navigating the website, if you see any photos that are blurry please send a link to the article to our <a href="mailto:photoeditor@tsl.pomona.edu">Photo Editor</a> so we can get those fixed!</p>


<h2 style="font-size:24px">Recent Workflow Changes</h2>

	<p><strong>February 26, 2014</strong> Updated banner on main page with new logo</p>
	<p><strong>February 24, 2014</strong> 'Has Photo' on Articles now reads 'Photo Assigned'</p>
	<p><strong>February 24, 2014</strong> Life and Style Editor updated on Staff Page</p>
	<p><strong>February 23, 2014</strong> There are now 6 review slots for each article (previously 4)</p>
	<p><strong>February 23, 2014</strong> On public website, articles now display dates in Month-Date-Year format.  Previously Day-Month-Date-Time.</p>
	<p><strong>February 23, 2014</strong> Under Workflow/Issues, the issues are now listed in order from most recent -> least recent</p>

<h2 style="font-size:24px">Changing your password</h2>

	<p>If this is the <strong>first time you're logging in</strong>, your password probably was probably given to you.  It may even be something that looks like this: <strong>A7jsT63</strong>. If you can remember that, great!</p>

	<p>To change your password to something more memorable, click the link labeled <a href="http://tsl.pomona.edu/workflow/users/3/edit">My account</a> at the very top-right of this page. You'll be able to enter a new password there.</p>

<h2 style="font-size: 24px">Working with articles</h2>

	<p>You can find all articles under the <strong>Articles</strong> tab, near the top of the page. Articles are organized underneath <strong>Issues</strong>, so pick the issue you're currently working on.</p>

	<p>Once you click on an issue, you'll see all of the articles currently being worked on. You can see the article <strong>name</strong>, <strong>publication status</strong>, <strong>editorial reviews</strong>, <strong>notes</strong>, and proposed <strong>titles</strong>. You can click on an article's name to view more information and interact with it.</p>

<h2 style="font-size: 24px">InCopy and Server Access</h2>

	<p>Once you publish an article, the accompanying XML file (for designers) will automatically be updated on our built-in WebDAV server so designers, etc. can access them.  If you're on a Mac, to access this server open <strong>Finder</strong> and click <strong>Go->Connect to Server...</strong>, or press <strong>Apple</strong>+<strong>K</strong>, then enter <strong>http://tsl.pomona.edu/webdav</strong> as the server address. If it asks you to log in, your Pomona username/password will work.  For Pomona students, this is your Pomona ID (i.e. gab12010), and for non-Pomona students this is your Kronos ID (i.e. abc31925).  If you are having account problems, you can go to Pomona College ITS.</p>

	<!-- <p>If you're on a PC and figure out how to do this, it would be awesome if you would let me know how, thanks!</p> -->

	<p>TSL also uses another server for internal and production files.  This server is maintained by Pomona College ITS and one must log in with valid Pomona College credentials.  These are described in the previous paragraph.  The server address is <strong>smb://filer2/tsl</strong>.</p>

	<p>If you have not yet been given access to one or both of these servers, please contact the TSL <a href="mailto:productionmanager@tsl.pomona.edu">Managing Editor for Production</a>.</p>

<h2 style="font-size: 24px">Website Support</h2>

	<p>If you are experiencing website problems and need help, please email the <a href="mailto:digitaleditor@tsl.pomona.edu">Senior Digital Editor</a> to get personal feedback.  For less urgent requests or website suggestions (not just limited to workflow!!), please fill out the following <a href="https://docs.google.com/forms/d/1267Sb-gAEyAgz-4Luyc0wTmAswCvWNY2NdVhGcp0bCQ/viewform">form</a>.</p>

</div>
