<section id="aColumn" class="section">
<header>
	<h1>PDFs</h1>
</header>

<p>
  <a href="/pdfarchive/2010-12-03.pdf">2010 December 3rd</a>
</p>
<p>
  <a href="/pdfarchive/2010-11-19.pdf">2010 November 19th</a>
</p>
<p>
  <a href="/pdfarchive/2010-11-12.pdf">2010 November 12th</a>
</p>
<p>
  <a href="/pdfarchive/2010-11-05.pdf">2010 November 5th</a>
</p>
<p>
  <a href="/pdfarchive/2010-10-29.pdf">2010 October 29th</a>
</p>

</section>
<%= render "articles/most_popular_and_facebook" %>
