<section id="aColumn" class="section">
<header>
	<h1>PDFs</h1>
</header>

<p>
	<a href="/pdfarchive/2011-fall-11.pdf">2011 Fall Issue 11</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-10.pdf">2011 Fall Issue 10</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-9.pdf">2011 Fall Issue 9</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-8.pdf">2011 Fall Issue 8</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-7.pdf">2011 Fall Issue 7</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-6.pdf">2011 Fall Issue 6</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-5.pdf">2011 Fall Issue 5</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-4.pdf">2011 Fall Issue 4</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-3.pdf">2011 Fall Issue 3</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-2.pdf">2011 Fall Issue 2</a>
</p>
<p>
	<a href="/pdfarchive/2011-fall-1.pdf">2011 Fall Issue 1</a>
</p>
<p>
  <a href="/pdfarchive/2010-12-03.pdf">2010 December 3rd</a>
</p>
<p>
  <a href="/pdfarchive/2010-11-19.pdf">2010 November 19th</a>
</p>
<p>
  <a href="/pdfarchive/2010-11-12.pdf">2010 November 12th</a>
</p>
<p>
  <a href="/pdfarchive/2010-11-05.pdf">2010 November 5th</a>
</p>
<p>
  <a href="/pdfarchive/2010-10-29.pdf">2010 October 29th</a>
</p>

</section>
<%= render "articles/most_popular_and_facebook" %>
