<section id="aColumn" class="section">
<header>
    <h1>Staff</h1>
  </header>  

  <p>Editor-in-Chief: Toby Hollis<br/>
  Managing Editors: Maya Booth, Jayci Spivey and Jeff Zalesin<br/>
  Senior Design Editor: Gabrielle Badie<br/>
  Senior Digital Editor: Michael Maltese<br/>
  Senior Staff Manager: Michelle No<br/>
  Development Manager: Nathan Schauer<br/>
  Business Manager: Adam Belzberg</p>

  <p>News Editor: Natalie Orenstein<br/>
  Life & Style Editor: Anna Petkovich<br/>
  Sports Editor: Ryan Miller<br/>
  Opinions Editor: theory friction practice</p>

  <p>Print Design Editor: Anjali Gupta<br/>
  News Design Editor: Latina Vidolova<br/>
  Life & Style Design Editor: Caitlin Kenney<br/>
  Sports Design Editor: Spencer Heim<br/>
  Opinions Design Editor: Liz Crumpacker</p>

  <p> News Copy Editor: Emma Foehringer Merchant<br/>
  Life & Style Copy Editor: Joanmarie Del Vecchio <br/>
  Sports Copy Editor: Noah Stanton<br/>
  Opinions Copy Editor: Dixie Morrison</p>

  <p>Photography Editor: Hugh Berryman<br/>
  Distribution Manager: Anne Fulton</p>
</section>
<%= render "articles/most_popular_and_facebook" %>
