<section id="aColumn" class="section">
  <header>
    <h1>Staff</h1>
  </header>  

  <p>Editor-in-Chief: Ian Gallogly<br/>
  Managing Editors: Maya Booth and Nathan Schauer<br/>
  Senior Design Editors: Nick Lawson and Elizabeth Yaffe<br/>
  Senior Copy Editor: Jayci Spivey<br/>
  Senior Digital Editor: Michael Maltese<br/>
  Senior Staff Manager: Jordan Cohen<br/>
  Development Manager: John Thomason<br/>
  Business Manager: Adam Belzberg</p>

  <p>News Editors: Sarah Han and Michelle No<br/>
  Life & Style Editor: Anna Petkovich<br/>
  Sports Editors: Ryan Miller and Leslie Canter<br/>
  Opinions Editor: Alan Mitchell</p>

  <p>Print Design Editor: Anjali Gupta<br/>
  News Design Editor: Gabrielle Badie<br/>
  Life & Style Design Editor: Caitlin Kenney<br/>
  Sports Design Editor: Spencer Heim<br/>
  Opinions Design Editor: Stephanie Braziel</p>

  <p>Web Copy Editor: Hannah Shoenhard<br/>
  News Copy Editor: Emma Foehringer Merchant<br/>
  Life & Style Copy Editor: Trinity Furman<br/>
  Sports Copy Editor: Noah Stanton<br/>
  Opinions Copy Editor: Jess Zellinger</p>

  <p>Photography Editor: Andrew Hong<br/>
  Distribution Manager: Anne Fulton</p>

</section>
<%= render "articles/most_popular_and_facebook" %>