<%= content_for :head do %>
<title>TSL Staff</title>
<% end %>
<section id="aColumn" class="section">
<header>
    <h1>Staff</h1>
  </header>  

  <p>Editor-in-Chief: Maya Booth<br/>
  Managing Editors: Jesse Caro, Emma Foehringer-Merchant, Kaya LeGrand<br/>
  Senior Design Editors: Spencer Heim and Caitlin Kenney<br/>
  Senior Digital Editor: Adam Belzberg<br/>
  Senior Staff Manager: Natalie Orenstein<br/>
  Development Manager: Ian Gallogly<br/>
  <!--Senior Copy Editor: Kaya LeGrand<br/>-->
  Business Manager: Sharon Jan</p>

  <p>News Editor: Jessie Welcomer<br/>
  Life & Style Editor: Zoë Jameson<br/>
  Sports Editor: Ryan Miller<br/>
  Opinions Editor: Claire Pershan<br/>
  Special Features Editor: Jared Kalow</p>

  <p> News Design Editor: David Kolin<br/>
  Life & Style Design Editor: Latina Vidolova<br/>
  Sports Design Editor: Jose Ruiz<br/>
  Opinions Design Editor: Dingyun Zhang<br/>
  Features Design Editor: Anjali Gupta</p>

  <p> News Copy Editor: Dixie Morrison<br/>
  Life & Style Copy Editor: Luke Miller <br/>
  Sports Copy Editor: Deirdre Kessler<br/>
  Opinions Copy Editor: Sam McLaughlin<br/>
  Special Features Copy Editor: Eron Smith</p>

  <p>Photography Editor: Andrew Hong<br/>
  Photography Manager: Sricharitha Mullaguru<br/>
  News Assignment Editor: Kara Freedman<br/>
  Distribution Manager: Anne Fulton</p>
</section>
<%= render "articles/most_popular_and_facebook" %>
