<%= content_for :head do %>
<title>TSL Staff</title>
<% end %>
<section id="aColumn" class="section">
<header>
    <h1>Staff</h1>
  </header>  

  <p>Editor-in-Chief: Zo&euml; Jameson<br/>
  Managing Editor for Content: Caroline Bowman<br/>
  Managing Editor for Production: Sam McLaughlin<br/>
  Senior Design Editors: Spencer Heim and Caitlin Kenney<br/>
  Senior Development Manager: Gabrielle Badie<br/>
  Senior Staff Manager: Elizabeth Yaffe<br/>
  Senior Digital Editor: Gabrielle Badie<br/>
  Senior Copy Editor: Benji Lu</p>

  <p>News Editor: Kara Freedman<br/>
  News Section Manager: Kevin Tidmarsh<br/>
  Life & Style Editor: Anna Petkovich<br/>
  Opinions Editor: Emily Wasserman<br/>
  Sports Editors: Michael Weil and Alistair Thompson</p>

  <p> News Design Editor: Lisa Williams<br/>
  Life & Style Design Editor: Feather Flores<br/>
  Opinions Design Editor: Michelle Sun<br/>
  Sports Design Editor: Vanessa Wang<br/>
  Feature Design Editor: Latina Vidolova</p>

  <p> News Copy Editor: Dixie Morrison<br/>
  Life & Style Copy Editor: Emily Chittick <br/>
  Opinions Copy Editor: Lisel Joseph <br/>
  Sports Copy Editor: Emma Fredgant </p>

  <p>Photography Editor: Rachel Noll<br/>
  Photography Manager: Tianna Sheih<br/>
  Social Media Manager: Mikayla Reine<br/>
  Distribution Manager: Jose Ruiz<br/>
  Business Manager: Ted Gkoo<br/>
  Web Developer: Stacey Abrams</p>
</section>
<%= render "articles/most_popular_and_facebook" %>

<!-- GAB_TODO add Stacey -->
