<%= content_for :head do %>
<title>TSL Staff</title>
<% end %>
<section id="aColumn" class="section">
<header>
    <h1>Staff</h1>
  </header>  

  <p>Editor-in-Chief: Jeff Zalesin<br/>
  Managing Editors: Gabrielle Badie and Anna Petkovich<br/>
  Senior Design Editors: Spencer Heim and Caitlin Kenney<br/>
  <!--Senior Digital Editor: Michael Maltese<br/>-->
  Senior Staff Manager: Natalie Orenstein<br/>
  Development Manager: Ian Gallogly<br/>
  Senior Copy Editor: Kaya LeGrand<br/>
  Business Manager: Sharon Jan</p>

  <p>News Editor: Sarah Han<br/>
  Life & Style Editor: Rachel Grate<br/>
  Sports Editor: Ryan Miller<br/>
  Opinions Editor: Claire Pershan<br/>
  Special Features Editor: Cleo Spencer</p>

  <p>Print Design Editor: Kevin Ryan Nava<br/>
  News Design Editor: Kaela Nurmi<br/>
  Life & Style Design Editor: Vivian Chen<br/>
  Sports Design Editor: Jose Ruiz<br/>
  Opinions Design Editor: Latina Vidolova</p>

  <p> News Copy Editor: Dixie Morrison<br/>
  Life & Style Copy Editor: Shannon Lubetich <br/>
  Sports Copy Editor: Joanmarie Del Vecchio<br/>
  Opinions Copy Editor: Eron Smith<br/>
  Special Features Copy Editor: Miel Jasper</p>

  <p>Photography Editor: Andrew Hong<br/>
  Photography Manager: Elizabeth Yaffe<br/>
  News Assignment Editor: David Kolin<br/>
  Associate News Assignment Editor: Jared Kalow<br/>
  Distribution Manager: Anne Fulton</p>
</section>
<%= render "articles/most_popular_and_facebook" %>
