<%= content_for :head do %>
<title>TSL Staff</title>
<% end %>
<section id="aColumn" class="section">
<header>
    <h1>Staff</h1>
  </header>  

  <p>
    <a href="mailto:editor@tsl.pomona.edu">Editor-in-Chief</a>: Zo&euml; Jameson<br/>
    <a href="mailto:contentmanager@tsl.pomona.edu">Managing Editor for Content</a>: Caroline Bowman<br/>
    <a href="mailto:productionmanager@tsl.pomona.edu">Managing Editor for Production</a>: Sam McLaughlin<br/>
    <a href="mailto:design@tsl.pomona.edu">Senior Design Editors</a>: Spencer Heim and Caitlin Kenney<br/>
    <a href="mailto:gabrielle.badie@tsl.pomona.edu">Senior Development Manager</a>: Gabrielle Badie<br/><!-- Note that the email goes to Gabrielle, not to Development!! -->
    <a href="mailto:staff@tsl.pomona.edu">Senior Staff Manager</a>: Elizabeth Yaffe<br/>
    <a href="mailto:digitaleditor@tsl.pomona.edu">Senior Digital Editor</a>: Gabrielle Badie<br/>
    <a href="mailto:copy@tsl.pomona.edu">Senior Copy Editor</a>: Benji Lu
  </p>

  <p>
    <a href="mailto:newseditor@tsl.pomona.edu">News Editor</a>: Kara Freedman<br/>
    <a href="mailto:news@tsl.pomona.edu">News Section Manager</a>: Kevin Tidmarsh<br/>
    <a href="mailto:lifeandstyle@tsl.pomona.edu">Life & Style Editor</a>: Anna Petkovich<br/>
    <a href="mailto:opinions@tsl.pomona.edu">Opinions Editor</a>: Emily Wasserman<br/>
    <a href="mailto:sportseditor@tsl.pomona.edu">Sports Editors</a>: Michael Weil and Alistair Thompso
  </p>

  <p>
    News Design Editor: Lisa Williams<br/>
    Life & Style Design Editor: Feather Flores<br/>
    Opinions Design Editor: Michelle Sun<br/>
    Sports Design Editor: Vanessa Wang<br/>
    Feature Design Editor: Latina Vidolova
  </p>

  <p>
    News Copy Editor: Dixie Morrison<br/>
    Life & Style Copy Editor: Emily Chittick <br/>
    Opinions Copy Editor: Lisel Joseph <br/>
    Sports Copy Editor: Emma Fredgant
  </p>

  <p>
    Photography Editor: Rachel Noll<br/>
    Photography Manager: Tianna Sheih<br/>
    <a href="mailto:social@tsl.pomona.edu">Social Media Manager: Mikayla Reine<br/>
    <a href="mailto:subscriptions@tsl.pomona.edu">Distribution Manager: Jose Ruiz<br/>
    <a href="mailto:business@tsl.pomona.edu">Business Manager: Ted Gkoo<br/>
    <a href="mailto:webmaster@tsl.pomona.edu">Web Developer: Stacey Abrams
  </p>
</section>
<%= render "articles/most_popular_and_facebook" %>
