<%= content_for :head do %>
<title>TSL Staff</title>
<% end %>
<section id="aColumn" class="section">
<header>
    <h1>Staff</h1>
  </header>  

  <p>Editor-in-Chief: Jesse Caro<br/>
  Managing Editors: Gabrielle Badie and Kara Freedman<br/>
  Senior Design: Latina Vidolova<br/>
  <!--Senior Swag: Elizabeth Yaffe<br/>-->
  Senior Staff Managers: Anna Petkovich and Jessie Welcomer<br/>
  Development Manager: Emma Foehringer Merchant and Kaya LeGrand<br/>
  Senior Copy Editor: Sam McLaughlin</p>

  <p>News Editor: Caroline Bowman<br/>
  News Assignment Editor: Rishi Sangani<br/>
  Life & Style Editor: Anna Petkovich<br/>
  Life & Style Assignment Editor: Rohitashwa Bagaria<br/>
  Sports Editors: Michael Weil and Alistair Thompson<br/>
  Opinions Editor: Cole Clark<br/>
  Special Features Editor: Elizabeth Yaffe</p>

  <p> News Design Editor: Lucas Littlejohn<br/>
  Life & Style Design Editor: Feather Flores<br/>
  Sports Design Editor: Skyler Lewis<br/>
  Opinions Design Editor: Sarah Zimmerman<br/>
  Features Design Editors: Xueling Sun</p>

  <p> News Copy Editor: Dixie Morrison<br/>
  Life & Style Copy Editor: Deirdre Kessler <br/>
  Sports Copy Editor: Mattie Toll<br/>
  Opinions Copy Editor: Maggie Liu<br/>
  Special Features Copy Editor: Emma Fredgant</p>

  <p>Photography Editor: Aaran Patel<br/>
  <!--Photography Manager: Sricharitha Mullaguru<br/>-->
  Distribution Manager: Jose Ruiz<br/>
  Business Manager: Ted Koo</p>
</section>
<%= render "articles/most_popular_and_facebook" %>
