<header>
  <div class="left">
    <h1>
      <%= revision.author %>
      <span class="date">
        <%= time_ago_in_words revision.created_at %> ago
      </span>
    </h1>
  </div>
</header>

<div class="mid">
  <p style="font-size: 12px; font-weight: bold; margin-top: 9px; color: #333">Revision id.<%= revision.id %> </p>
  <p style="font-size: 12px;"><%= revision.diff.html_safe %></p>

</div>