<% content_for :header do %>
  <h1>Review Slots</h1>
  <span class="actions">
    <%= link_to 'New Review slot', new_workflow_review_slot_path, :class => 'positive button' %>      
  </span>
<% end %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @review_slots.each do |review_slot| %>
  <tr>
    <td><%= review_slot %></td>
    <td><%= link_to 'Edit', edit_workflow_review_slot_path(review_slot), :class => 'button' %></td>
    <td><%= link_to 'Destroy', [:workflow, review_slot], :class => 'destructive button',
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>