<% content_for :header do %>
  <h1>Welcome to the new online workflow!</h1>
<% end %>

<% content_for :side do %>
  &nbsp;
<% end %>

<div style="font-family: Georgia; font-size: 16px; line-height: 24px">

<h2 style="font-size: 24px">Problems?</h2>

<p>If you're having trouble, that's <strong>my fault</strong>. This is still very much a work-in-progress. You can email me at <a href="mailto:michael.maltese@pomona.edu">michael.maltese@pomona.edu</a>, call me at <strong>209 352 5828</strong>, or come find me, and I'll help you with your problem.

<p>In the same spirit, if you come across <strong>anything you don't like</strong>, or there's something not here that you want, <strong>talk to me</strong> and I'll see what I can do.</p>

<h2 style="font-size:24px">Changing your password</h2>

<p>If this is the <strong>first time you're logging in</strong>, your password probably looks something like this: <strong>A7jsT63</strong>. If you can remember that, great!</p>

<p>To change your password to something more memorable, click the link labeled <strong>My account</strong> at the very top-right of this page. You'll be able to enter a new password there.</p>

<h2 style="font-size: 24px">Working with articles</h2>

<p>You can find all articles under the <strong>Articles</strong> tab, near the top of the page. Articles are organized underneath <strong>Issues</strong>, so pick the issue you're currently working on.</p>

<p>Once you click on an issue, you'll see all of the articles currently being worked on. You can see the article <strong>name</strong>, <strong>publication status</strong>, <strong>editorial reviews</strong>, and proposed <strong>titles</strong>. You can click on an article's name to view more information and interact with the workflow.</p>



</div>