<header>
  <h1 style="font-size: 13px; font-weight: bold;" class="left">
    <%= workflow_comment.author %>
    <span class="date" style="color: #888; display: block; font-weight: normal;">
      <%= time_ago_in_words(workflow_comment.created_at) %> ago
    </span>
  </h1>
</header>
<div class="mid">
  <p style="margin-top: 10px; color: #555;"><%= workflow_comment %></p>
</div>